<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="landing-page.component.css">
        <title>Paratus</title>
</head>
<body>

        <div class="contenedor" >

                <!--************************************** menu principal ***************************************-->
        <header class="header" >
                <nav> 
                        <ul class="menu"> 
                                <li class="logo">
                                        <a href="#">Paratus</a>
                                </li>
                
                                <div  class="menuIzq">
                                        <li>
                                                <a href="../landing-page/landing-page.component.html">Inicio</a>
                                        </li>
                                        <li>   
                                                <a href="../como-funciona/como-funciona.component.html">Como Funciona</a>
                                        </li>
        
                                        <li>
                                                <a href="#">Registrate</a>
                                        </li>
                                           <li> 
                                                <a href="#">Ingresar</a>
                                        </li>
                                        <li>
                                           <h1> <br>      </h1>     
                                        </li>
                                       
                            </div>
                     
                        </ul>             
                </nav>
                
                <br>
                <br>
                </header>
<!-- ************************************* cuerpo de pagina *************************************-->
<br><br>
<main class="main" >
<br><br>
        <section class="cuerpo">
                <h1>
                        Mentes dispuestas a realizar tus ideas.
                </h1>
                <h2>
                        !Animate envia tus proyectos¡
                </h2>
                

                <button class="crearProyecto">  <a href="#"></a> Crear Proyecto</button>

                <div class="Imgcolaborativo">
                        <img class=" colaborativo" src="../landing-page/fotos-landing-page/undraw_Co_workers_re_1i6i.svg" alt=" Colaboracion" >
                </div>    
                     
        </section>

        <section class="cuerpo2">
                <h2>Quienes somos?</h2> <br>
                <p align="justify">
                La comunidad <b> Paratus </b> fue creada con el objetivo de proporcionar servicios a las empresas o usuarios que quieran innovar o producir algun proyecto personal de alta gama realizados por los mejores profesionales, especializados en las distintas áreas(Telecomunicaciones, Desarrollo de software, Bases de Datos, Produccion de videoJuegos) brindandote la mejor oportunidad de poder realizar tus ideas y volverlas realidad cumpliendo tus sueños.           </p>
                <br><br>
        </section>

        <section class="cuerpo3">
                <div>
                        <img class="Imgprofecional" src="../landing-page/fotos-landing-page/undraw_Success_factors_re_ce93.svg" alt="exito">
                </div>
                <p align="justify">
                        Los Profesionales de Paratus te brindan las mejores soluciones adaptadas a tus necesidads y presupuestos ofreciendote un sin fin de posibilidades permitiendote incorporarte al mundo de los negocios nacionales y internacionles.
                       </p>
<br>
<br>
        </section>

        <!-- *******************creacion del flexbox de profecionales en landing Page ********************-->
                
<br><br><br><br>
      
  <div class="headerMiemParatus">
          <h2>Miembros de Paratus</h2> <br>
          <h3> !Así como ellos se tu también parte de nuestra comunidad Paratus¡ </h3>
          <br>
  </div>

  <div class="container1">

        <div class="profesional1">
                <div>
                <img class="imgprofesional1" src="../landing-page/fotos-landing-page/foto-profesional1.jpg" alt="foto del profesional">
                </div>
                <div class="datos1">
                        <p>
                              <b> Marcela Yolibeth Carrillo <br>
                                N° Trabajos Realizados: 15 <br> </b>  
                        </p>
                        <br>
                        <p>
                                Herramientas: <br>  <br>            
                        </p>
                        <ul> 
                                <li>
                                        Python,
                                </li>
                                <li>
                                        Node js,
                                </li>
                                <li>
                                        Angular,
                                </li>
                        </ul>  
                        
                </div>
        </div>

        <div class="profesional2">
                <div>
                <img class="imgprofesional2" src="../landing-page/fotos-landing-page/foto-profesional2.jpg" alt="foto del profesional">
                </div>
                <div class="datos2">
                        <p>
                              <b> José Angel Mejia Girón <br>
                                N° Trabajos Realizados: 12 <br> </b>  
                        </p>
                        <br>
                        <p>
                                Herramientas: <br>    <br>           
                        </p>
                        <ul> 
                                <li>
                                        JavaScrip,
                                </li>
                                <li>
                                        PHP,
                                </li>
                                <li>
                                        Angular,
                                </li>
                        </ul>  
                        
                </div>
        </div>

        <div class="profesional3">

                <div>
                <img  class="imgprofesional3" src="../landing-page/fotos-landing-page/foto-profesional3.jpg" alt="foto del profesional">
                </div>
                <div class="datos3">
                        <p>
                              <b> Irehne Maria Montoya <br>
                                N° Trabajos Realizados: 18 <br> </b>  
                        </p>
                        <br>
                        <p>
                                Herramientas: <br>   <br>           
                        </p>
                        <ul> 
                                <li>
                                        JavaScrip,
                                </li>
                                <li>
                                        PHP,
                                </li>
                                <li>
                                        Angular,
                                </li>
                                <li>
                                        Python,
                                </li>
                                <li>
                                        mongoDB
                                </li>

                        </ul>  
                        
                </div>
        </div>
        
       <p align="justify" >
               <br><br> <br><br>
                Nuestros miembros Paratus siemprese estaran dispuestos para brindar el mejor servicio ya que ponen su corazon en todo lo que hacen brindando una sonrisa a cada persona con la que trabajan proporcionando confianza y respeto. 
<br>
        </p> 
</div>
<br>

<br>

                
</main>     

<!--*****************************creacion del pied de pagina**********************************-->

<footer class="footer" >
        <ul class="creditos">
                <li>
                        <img class="unah" src="../landing-page/fotos-landing-page/Logo_UNAH.png" alt="">
                </li>
                <section>
                <li>
                        <a href="#">Profesionales avalados por la alma mater<br>
                                 Universidad Nacional Autonoma de Honduras</a>
                </li>
                <li>
                        <a href="#">Todos los derechos <br>
                                 reservados por Paratus </a>
                </li>
                <li>
                        <a href="#">Contactos: <br>
                                 2249875, 2249874
                                </a>
                </li>
                <li>
                        <a href="#">Email:<br>
                                Paratus@.gmail.com
                                 </a>
                </li>
                <li>
                        <img  class="instagran" src="../landing-page/fotos-landing-page/instagram.svg" alt="">
                </li>
                <li>
                        <img class="facebook" src="../landing-page/fotos-landing-page/facebook.svg" alt="">
                </li>

                <li>
                        <img class="twiter" src="../landing-page/fotos-landing-page/gorjeo.svg" alt="">
                </li>
        </section>
        </ul>
</footer>

        </div>

</body>
</html>


