<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgba(14, 84, 138, 0.3);">
    <div class="container-fluid">
      <a class="navbar-brand">Paratus</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <!--span class="navbar-toggler-icon"></span-->
      </button>
      <div class="collapse d-flex justify-content-end" id="navbarSupportedContent">
        <form>
            <button class="btn rounded-pill mx-2" style="background-color:#0077b6;color: white;padding:5px 30px;" >
            Sing up</button>
            <button class="btn rounded-pill mx-2" style="background-color:#0077b6;color: white;padding:5px 30px;" >
            Log in</button>
        </form>
      </div>
    </div>
</nav>
<!-- Header -->
<header class="container-fluid">
  <div class="row">
    <div class="col-12 d-flex d-flex align-items-center" id="fondo">
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8 col-xs-12 col-12">
          <h1 style="color:#0077b6;padding-bottom: 30px;">START PAGE</h1>
          <p style="color:white;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <button class="btn rounded-pill" style="background-color:#0077b6;color: white;padding:5px 30px;" >
          <h3>Comenzar</h3></button>   
      </div>
    </div>
  </div>
</header>
  
<!-- Principal-->
<div class="container-fluid">
    <div class="row" style="padding:128px 16px">
         <div class="col-12 d-flex justify-content-center" style="padding-bottom:50px;">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8 col-xs-12 col-12">
                <h2>Acerca de Paratus</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui est ea dolore</p>
            </div> 
         </div>

         <div class="col-xl-3 col-lg-3 col-md-6 col-sm-8 col-xs-12 col-12" style="margin:auto;">
           <div>
             <img src="../../assets/img/responsive.jpg" class="rounded-circle float-start" style="height:200px;width: 270px;" >
             <h4 class="w3-large">Responsive</h4>
             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
           </div>           
         </div>
         
         <div class="col-xl-3 col-lg-3 col-md-6 col-sm-8 col-xs-12 col-12" style="margin:auto;">
           <div>
             <img src="../../assets/img/db.png" class="rounded-circle float-start" style="height:200px;width: 270px;" >
             <h4 class="w3-large">Responsive</h4>
             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
           </div>
            
         </div>
         <div class="col-xl-3 col-lg-3 col-md-6 col-sm-8 col-xs-12 col-12" style="margin:auto;">
           <div>
             <img src="../../assets/img/soporte.png" class="rounded-circle float-start" style="height:200px;width: 270px;" >
            <h4 class="w3-large">Responsive</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
           </div>
            </div>
         <div class=" col-xl-3 col-lg-3 col-md-6 col-sm-8 col-xs-12 col-12" style="margin:auto;">
           <div>
              <img src="../../assets/img/solucion.jpg" class="rounded-circle float-start" style="height:200px;width: 270px;" >
              <h4 class="w3-large">Responsive</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
           </div>
           
         </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row" style="background-color:rgba(14, 84, 138, 0.1);padding: 100px 30px;">
        <div class="col-12 d-flex justify-content-center" style="padding-bottom:50px;">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8 col-xs-12 col-12">
                <h2>Colaboradores</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius sed, libero iusto eum ipsa, exercitationem omnis</p>
            </div> 
         </div>

         <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="card sombras profesional">
                <img src="../../assets/img/hombre.jpg" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title">Colaborador #1</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-muted">Analista de BD</small></p>

                  <button class="btn rounded-pill mx-2" style="background-color:#0077b6;color: white;padding:5px 30px;" >
            Contacto</button>
                </div>
              </div>
         </div>
         <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12 col-12">
            <div class="card sombras profesional">
                <img src="../../assets/img/hombre.jpg" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title">Colaborador #2</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-muted">Desarrollador Movil</small></p>

                  <button class="btn rounded-pill mx-2" style="background-color:#0077b6;color: white;padding:5px 30px;" >
            Contacto</button>
                </div>
              </div>
         </div>
         <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12 col-12">
            <div class="card sombras profesional">
                <img src="../../assets/img/hombre.jpg" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title">Colaborador #3</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-muted">Diseñador Grafico</small></p>

                  <button class="btn rounded-pill mx-2" style="background-color:#0077b6;color: white;padding:5px 30px;" >
            Contacto</button>
                </div>
              </div>
         </div>
         <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12 col-12">
            <div class="card sombras profesional">
                <img src="../../assets/img/hombre.jpg" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title">Colaborador #4</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-muted">Desarrollador Web</small></p>

                  <button class="btn rounded-pill mx-2" style="background-color:#0077b6;color: white;padding:5px 30px;" >
            Contacto</button>
                </div>
              </div>
         </div>
    </div>
</div>

<div class="container-fluid" style="padding:128px 16px">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <div>
                <h3>CONTACTANOS</h3>
                <p>Slogan Slogan Slogan Slogan</p>
                <div style="margin-top:48px">
                   <h5><i class="fa fa-map-marker mr-2"></i> Tegucigalpa M.D.C </h5>
                   <h5><i class="fa fa-phone mr-2"></i> Telefono: 2222-2222</h5>
                   <h5><i class="fa fa-envelope mr-2"> </i> Email: mail@mail.com </h5>
                </div>
            </div>           
        </div>
    </div>
</div>

<!--Footer-->
<div class="container-fluid" style="justify-content: center;">  
    <div class="row" style="padding:28px 16px;background-color:rgba(14, 84, 138, 0.3);">
     <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-6 col-6 mx-auto">
       <i class="fa fa-facebook-official mx-3"></i>
       <i class="fa fa-instagram mx-3"></i>
       <i class="fa fa-twitter mx-3"></i>
       <i class="fa fa-linkedin mx-3"></i>
    </div>
    </div>
</div>
  