<div class="">
  <div class="d-flex justify-content-start">
    <img class="rounded-circle img-fluid" src={{imgUrl}} alt="" id="profile-pic">
    <label class="d-flex flex-column bd-highlight mb-3">
      <label class="p-2" ><h6>&nbsp;&nbsp;Carrie&nbsp;&nbsp;03/04/2021 </h6></label>
      <p class="p-2" name="name" rows="8" cols="80" id="commentBody">{{this.comentarioAnterior.cuerpo}}</p>
      <label class="p-2" ></label>
    </label>
  </div>
</div>
<abe-proyect-comments-editor></abe-proyect-comments-editor>
