<div class="row">
<div class="col-2 col-lg-2">
  <abe-sidebar></abe-sidebar>
</div>
<div class="col-lg-2 col-md-2">
</div>
<div class="col-lg-6  col-sm-12 form-group" id="form-login">

  <form id="body-edit-profile" (submit)=actualizarPerfil()>
    <h5 class="">Editar mi perfil</h5>
    <div class=" row d-flex d-flex justify-content-center ">
      <div class=" col-lg-3 col-sm-12 card d-flex " >
        <img class="rounded-circle img-fluid" [src]="imgURLtest"/>
        <button type="button" class="btn btn-outline-secondary" id='subirImagenBtn' (click)="goSubirImagen()">Subir Imagen</button>
      </div>
      <div class="col-lg-1">

      </div>

      <div class=" col-lg-3 d-flex flex-column bd-highlight mb-3">
        <label for="">Nombre: {{profile.nombre}}  </label>
        <label for="">Nombre de usuario: {{profile.username}} </label>
        <label for="">Correo: {{profile.email}}</label>
      </div>
    </div>

    <h5>Cambio de Contraseña</h5>
    <div class="d-flex flex-column" id="cambioPass">
      <div class="p-2">
        <label for="">Contraseña actual</label>
        <input type="password" name="" value="">
      </div>
      <div class="p-2">
        <label for="">Nueva contraseña</label>
        <input  type="password" value=""
        minlength="6"
        required minlength="6"
        [(ngModel)]="newPassword" name="npass"
        #npass="ngModel"
         >
         {{newPassword}}
      </div>
      <div *ngIf="npass.invalid && (npass.dirty || npass.touched)"
      class="alert alert-danger genericAlert">
        <div *ngIf="npass.errors.minlength">
            <strong>La contraseña no puede ser menor de 6 caracteres.</strong>
        </div>
        <div *ngIf="npass.errors.required">
          <strong>La contraseña no puede ser menor de 6 caracteres.</strong>
        </div>

      </div>

      <div class="p-2">
        <label for="">Repetir contraseña</label>
        <input type="password" value=""

        [(ngModel)]="newPasswordCheck" name="npassCheck"
        #npassCheck="ngModel"
        >
        {{newPasswordCheck}}
      </div>
      <div *ngIf="newPassword!=newPasswordCheck && (npassCheck.dirty || npassCheck.touched)"
      class="alert alert-danger genericAlert">
        <div *ngIf="newPassword!=newPasswordCheck">
            <strong>Las contraseña no son iguales.</strong>
        </div>


      </div>


    </div>
    <h5>Informacion de Contacto</h5>
    <div class="d-flex flex-column" id="cambioContact">
      <div class="p-2">
        <label for="">Telefono</label>
        <input value="{{profile.telefono}}" maxlength="11" type="text" name="" value=""
        minlength="6"
        required minlength="6"
        [(ngModel)]="profile.telefono" name="telefono"
        #telefono="ngModel"
        >
      </div>
    </div>
    <div *ngIf="passwordCheck" class="alert alert-danger box-msg alert-dismissible fade show" role="alert" id=fixedalert>
      <strong>{{warningMessage}}</strong>
    </div>
    <div class="text-center">
      <button class="btn btn-block btn-primary rounded-pill " type="submit" name="button">Guardar Cambios</button>
    </div>


  </form>

</div>
<div class="col-3">
</div>
</div>
