<div class="row">
<div class="col-2 ">
  <abe-sidebar></abe-sidebar>
</div>
<div class="col-2">
</div>
<div class="col-lg-6  col-sm-12 form-group" id="form-login">

  <form id="body-edit-profile">
    <h5 class="col">Editar mi perfil</h5>
    <div class="d-flex justify-content-center">
      <div class="card">
        <img class="rounded-circle img-fluid" [src]="imgURL"/>
      </div>
    </div>

    <h5>Cambio de Contraseña</h5>
    <div class="d-flex flex-column" id="cambioPass">
      <div class="p-2">
        <label for="">Contraseña actual</label>
        <input type="text" name="" value="">
      </div>
      <div class="p-2">
        <label for="">Nueva contraseña</label>
        <input type="text" name="" value="">
      </div>
      <div class="p-2">
        <label for="">Repetir contraseña</label>
        <input type="text" name="" value="">
      </div>


    </div>
    <h5>Informacion de Contacto</h5>
    <div class="d-flex flex-column" id="cambioContact">
      <div class="p-2">
        <label for="">Telefono</label>
        <input type="text" name="" value="">
      </div>


    </div>








    <div class="text-center">
      <button class="btn btn-block btn-primary rounded-pill " type="submit" name="button">Guardar Cambios</button>
    </div>


  </form>

</div>
<div class="col-3">
</div>
</div>
