<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximun-sacale1.0, minimun-scale=1.0">
        <link rel="stylesheet" href="como-funciona.component.css">
        <title>Como Funciona</title>
</head>
<body>

        <div class="contenedor" >
                
                <header class="header">
                        <nav> 
                                <ul class="menu"> 
                                        <li class="logo">
                                                <a href="#">Paratus</a>
                                        </li>
                        
                                        <div  class="menuIzq">
                                                <li>
                                                        <a href="../landing-page/landing-page.component.html">Inicio</a>
                                                </li>
                                                <li>   
                                                        <a href="../como-funciona/como-funciona.component.html">Como Funciona</a>
                                                </li>
                                                <li>
                                                        <a href="#">Registrate</a>
                                                </li>
                                                <li> 
                                                        <a href="#">Ingresar</a>
                                                </li>
                                                <li>
                                                <h1> <br>      </h1>     
                                                </li>
                                        
                                </div>
                        
                                </ul>             
                        </nav>
                        
                        <br>
                        <br>
                        
                        
                </header>  

                <br><br><br><br>
                <div class="baner">
                        <div class="img">
                                <img class="equipo" src="../como-funciona/img/pexels-fauxels-3184419.jpg" alt="">
                        </div>
                
                <br><br><br><br>
                <div class="t1">
                        <h1>Como Funciona Paratus?</h1>
                        <h2>Te contamos todo...</h2>      
                </div>
        
        <main class="main">
                <div class="parte1" > 
                        <!--***************************paso1**************************-->
               <div class="p1">
                       <img  class="paso1" src="../como-funciona/img/1.png" alt=" paso1">
               
                      
                       <p align="justify" >
                                <br>
                               <b>
                                       Te invitamos a que formes parte de nuestra comunidad al registrate, <br>para que puedas aprobechar de todo lo que te ofrecemos. <br>
                               </b> 
                       </p>
                       <p>
                               <br>
                                 1. Publica tu proyecto para que puedas empezar a recibir propuestas.
                        </p>
                          <p class="subp2">2. Podras encontrar profesionales capacitados que te ayudaran a actualizar <br> tu web, programar tu app, redactar articulos y mucho mas. <br><br> </p>
                       </div>
               
                       <div class="conterimgpaso1">
                               <img class="imgPaso1" src="../como-funciona/img/undraw_Sharing_articles_re_jnkp (1).svg" alt="paso1">
               
                       </div> <br><br>
               
               
               </div>

                <!--***********************paso dos *****************-->
              <div class="p2">
              
                <img  class="paso2" src="../como-funciona/img/2.png" alt=" paso2">
         
                        <p align="justify" >
                                <b>Describe tu proyecto</b>  <br>
                                3. Indicando el area de especializacion, y tu presupuesto. <br> <br>
                                <b>Recibirar propuestas en minutos</b>  <br> 
                                4. De inmediato te podras poner en contacto con la comunidad pareles. <br><br>
                
                        </p>
         
         </div>
         <div>
                <img class="imgPaso2" src="../como-funciona/img/paso2.svg" alt="paso2">
         </div> <br><br>

           <!--********************** paso3********************-->
           <div class="p3">
                <img class="paso3" src="../como-funciona/img/3.png" alt="paso3">
         
         
         
         <p align="justify">
               Podras interactuar con la comunidad freenlance de Paratus, <br> Teniendo la eleccion de elegir al profesional de tu preferencia.
               <b></b>  <br> <br>
                
               <b>Curiculo</b><br> 
               1. podras visualizar el CV del profesional con el objetivo de <br> poder identificarte con algun miembro. <br>
               2. En cuestion de minutos podras poner te en contgacto con ellos.
               <br> <br>
         </p>
         </div>
         <br><br>
         <img class="imgPaso3" src="../como-funciona/img/undraw_online_resume_re_ru7s.svg" alt="imgPaso3">
         
         <br>

          <!--**************************paso 4*********************************-->
        
        <div class="p4" >
        
                <img class="paso4" src="../como-funciona/img/4.png" alt="paso4">
                <p>
                        <b> Comunicación</b> <br>
                        El miembro de Paratus podra ponerse de acurdo con tigo para <br>
                        poder realizar el trabajo colaborativo. <br> <br>
                        1. podras recibir el trabajo en tiempo y forma. <br>
                        <br> <br>
         
                </p>
               
         </div>
         
         <img class="imgPaso4" src="../como-funciona/img/paso4.svg" alt="paso4">
         
        <br><br><br><br>

        <!-- ***********************************cierre*************************************-->
         
        <div class="cierrePaso">
                <p>
                        <br><br>
                        <b>
                          
                        En tan solo cuatro pasos podras obtener grandes veneficios. Asi que manos a la obra comienza ya y crea tu proyecto que  en la comunidad de Parales estamos ansioso por probar nuevos retos y poder trabajar con tigo.
                          
                        </b> 
                </p>
         
                <p>
                       <b>
                        ¿Ahora ya estás listo para publicar tus proyecto totalmente GRATIS?
         
                       </b> <br><br>
                       Publica cualquier tipo de proyecto que desees realizar. <br><br>     
                </p>
         
         </div>
         <section class="proyect" >
                <div class="imgProyect">
                       <img class="imgApp" src="../como-funciona/img/undraw_my_app_re_gxtj.svg" alt="">
                       <img class="imgConf" src="../como-funciona/img/undraw_Setup_wizard_re_nday.svg" alt="">
                       <img class="imgPer" src="../como-funciona/img/undraw_Personal_site_re_c4bp.svg" alt="">
                       <img class="imgSyst" src="../como-funciona/img/undraw_Operating_system_re_iqsc.svg" alt="">
                </div>
                <div class="listado">
                       <ul>
                               <li> Aplicaciones</li>
                               <li>configuraciones</li>
                               <li>pagina personal</li>
                               <li>Systemas</li>
                       </ul>
                </div>
                <br><br><br>
                
                <div class="palabraCierre">
                       <p align="center">
                              <b>¡No pierdas tiempo comienza ya y crea tu cuenta en Paratus! </b> 
                       </p>
                </div> <br><br>
               </section>
             


        </main>

               
<footer class="footer" >
        <ul class="creditos">
                <li>
                        <img class="unah" src="../landing-page/fotos-landing-page/Logo_UNAH.png" alt="">
                </li>
                <section>
                <li>
                        <a href="#">Profesionales avalados por la alma mater<br>
                                 Universidad Nacional Autonoma de Honduras</a>
                </li>
                <li>
                        <a href="#">Todos los derechos <br>
                                 reservados por Paratus </a>
                </li>
                <li>
                        <a href="#">Contactos: <br>
                                 2249875, 2249874
                                </a>
                </li>
                <li>
                        <a href="#">Email:<br>
                                Paratus@.gmail.com
                                 </a>
                </li>
                <li>
                        <img  class="instagran" src="../landing-page/fotos-landing-page/instagram.svg" alt="">
                </li>
                <li>
                        <img class="facebook" src="../landing-page/fotos-landing-page/facebook.svg" alt="">
                </li>

                <li>
                        <img class="twiter" src="../landing-page/fotos-landing-page/gorjeo.svg" alt="">
                </li>
        </section>
        </ul>
</footer>
        
        

                </div>
   
        
</body>
</html>