  <div class="container-fluid">

    <div class="row" id="login">
      <div class="col-xs-12 col-sm-10 col-md-8 col-lg-4 col-xl-4 sombras mx-auto" style="background-color: white;">
        
        <form id="form-login">
          
          <h5 class="col-5 titulo">Registro</h5>
          
          <div class="form-group espaciado">
            <input type="text" placeholder="Nombre Completo" class="form-control rounded-pill">

          </div>

          <div class="form-group espaciado">
          <input  type="text" placeholder="Nombre Usuario" class="form-control rounded-pill" >
          </div>
          <div class="form-group espaciado">
          <input type="email" placeholder="Email" class="form-control rounded-pill" >
          </div>
          <div class="form-group espaciado">
            <input type="telefono" placeholder="Telefono movil" class="form-control rounded-pill" >
            </div>
          <div class="form-group espaciado">
          <input  type="password" placeholder="Contraseña" class="form-control rounded-pill" >
          </div>

          <div class="form-group espaciado">
            <input  type="confirmacionPassword" placeholder="Confirmacion Contraseña" class="form-control rounded-pill" >
          </div>  

          <div class="form-group col-8 mx-auto botonIn">
          <button class="btn rounded-pill" style="background-color:#0077b6;color: white;padding: 8px 38px;">Crear Cuenta</button>
          </div>

          <div class="col-6 mx-auto" style="padding-top:80px; color:#5e60ce;">
          <!--div class="form-group">
              <span class="rounded-circle sombras" style="padding:20px 20px; "></span>
              <span class="rounded-circle sombras" style="padding:20px 20px; "></span>
              <span class="rounded-circle sombras" style="padding:20px 20px; "></span>
          </div-->
          </div>
              
        </form>
      </div>
    </div>

  </div>  
