<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

<div class="d-flex flex-column" id="sidebar-content">
  <div class=" p-2 ">
    <button class="btn d-flex justify-content-start" type="button" name="button">
      <span class="material-icons">
        view_column
      </span>
      <label for="">Mis proyectos</label>
    </button>

  </div>
  <div class=" p-2 ">
    <button class="btn d-flex justify-content-start" type="button" name="button">
      <span class="material-icons">
        wysiwyg
      </span>
      <label for="">Publicar proyecto</label>
    </button>
  </div>
  <div class=" p-2 ">
    <button class="btn d-flex justify-content-start" type="button" name="button">
      <span class="material-icons">
        work
      </span>
      <label for="">Buscar Proyectos</label>
    </button>

  </div>
  <div class="p-2">
    <label for="">Buscar Profesioneales</label>
  </div>
  <div class="p-2">
    <label for="">Contactos</label>
  </div>


</div>
