*{
    margin: 0px;
    padding: 0;
}

body{
    background: #ADE8F4;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contenedor{
    width: 100%;
    margin: 0;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(3,auto);
}

.contenedor .header{
    background-color: #0077b6;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    width: 100%;
    height: 82px;   
    z-index: 1;
    display:flex; 
    justify-content: space-around;
    flex-flow: wrap; 
    margin-bottom: 0px; 
    list-style: none;
     
}


.menu li a{
    text-decoration: none;
    color: white;
    padding:  33px; 
    display:flex;   

   
}

li{
    display: inline-block;      
   
}

.menu .logo a{
   color: white;
   font-size: 50px;
   padding: 10px 80px;
   font-weight: bold;
  
}

.menuIzq{  
    padding-bottom: 100 px; 
    flex-direction:row;
    justify-content: space-around;
    flex-flow: wrap;   
    display: flex;
    float:right;
    margin-left: 400px;
    
    
}

.menuIzq li a:hover{
    background: #ADE8F4;
    color: black;
}

header nav ul{
    margin: 0px;
    position: relative;
}

/***************************************************** cuerpo*************************************-*/

.contenedor .main{
    margin: 0px 150px ;      
}


h1  {
    font-family: Verdana;
    font-size: 38px;
}
h2{
    font-family: geneva;
    font-size: 30px;
    margin-left: 440px;
}

.crearProyecto{
    flex-flow: wrap;              
}
.crearProyecto{
    background-color: #0077b6;
    font-family: verdana;
    font-size: 20px;
    color: white;
    width: 200px;
    right: 50px;
     margin-top: -200;
    margin-left: 100px;
    padding: 20px 15px;
    border-radius : 5px;
    transition: 0.3s; 
}

.crearProyecto :hover{
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px;
}

.cuerpo{
    margin-top: -50px;
}

.Imgcolaborativo .colaborativo{
    width: 350px;
    right: 200px;
    margin-left: 860px;
    margin-top: -140px;
}


.contenedor.cuerpo2{
    margin: 20px 150px;         
}
.cuerpo2 h2{
    margin-left: 12px;
    font-family: verdana;

}

.cuerpo2  p{
    font-family: Tohama;
    font-size: 25px;
    
}

.cuerpo3 p {
    font-family: Tohama;
    font-size: 25px;
    padding-right: 5px;
}
.contenedor.cuerpo3{
    margin: 20px 0px;  
  
}
.Imgprofecional{

    width: 400px;
    right: 250px;
    margin-left: 50px;
    margin-top: 0px;
    float:left;
}

.headerMiemParatus{
    margin: 40px 0px;
    

}
.headerMiemParatus h2{
    margin-left: 20px;
    font-family: verdana;
    margin-top: 120px;
   
}
.headerMiemParatus h3{
    margin-left: 15px;
    font-family:geneva;
    font-size: 30px;

}

.container1 p{
    font-family: geneva;
    font-size: 30px;
    
}

.container1{
    margin: 25px 100px; 
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    flex-flow: wrap;
}

/*profesional1*/

.profesional1{
    width: 300px;
    right: 200px;
    background: #0077b6;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: 0.3s; 
}
.imgprofesional1{
    width: 300px;
    right: 100px;
    border-radius: 5px;
}
.datos1 {
     font-family:geneva, ;
     font-size: 18px;
     padding: 10px;
     margin-left: 10px;
     margin-top: 15px;
     color:white;
    
}
.datos1 li{
    list-style: none;
     
}

.profesional1:hover{
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px;

}

/******************************************** profesional2********************************/

.profesional2{
    width: 300px;
    right: auto;
    background: #0077b6;
    border-radius: 5px;
    margin-bottom: 15px;
    transition: 0.3s; 
}
.imgprofesional2{
    width: 300px;
    right: 100px;
    border-radius: 5px;
}
.datos2 {
     font-family:geneva, ;
     font-size: 18px;
     padding: 10px;
     margin-left: 10px;
     margin-top: 20px;
     color:white;
    
}
.datos2 li{
    list-style: none;
     
}

.profesional2:hover{
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px;

}

/******************************************prefesional3**************************************/
.profesional3{
    width: 300px;
    right: 100px;
    background: #0077b6;
    border-radius: 8px;
    margin-bottom: 20px;
    transition: 0.3s; 
    margin-bottom: 15;
}
.imgprofesional3{
    width: 300px;
    right: 100px;
    border-radius: 8px;
}
.datos3 {
     font-family:geneva, ;
     font-size: 18px;
     padding: 10px;
     margin-left: 10px;
     margin-top: 10px;
     margin-bottom: 15px;
     color:white;
    
}
.datos3 li{
    list-style: none;
     
}

.profesional3:hover{
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px;

}


/* ****************************************pies de pagina (creditos)*************************************************/

.contenedor .footer{

    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    list-style: none;
    padding: 0;
    background: #0077b6;
    display: flex;
   

}

.creditos li a{
    text-decoration: none;
    color: white;
    padding: 10px;
    display: block;
    text-align: center;
    margin-top: 40px;
}

.unah {
    width: 95px;
    height:160px;
    padding: 15px;  
    margin-left: 100px;
    float: right;   
}

.creditos section li img{
    width: 50px;
    height:30px;
    padding:10px;
}

.creditos li{
    display: inline-block;       
}
.creditos section{
    float:right ;
    padding: 2px;
    margin-left: 50px;
    margin-top: 50px;        
}

footer ul {
    margin: 0px;
}
