
<div class="row">
<div class="col-1 ">
</div>
<div class="col-lg-10  col-sm-12 form-group" id="form-login">

  <form (submit)=submitNewProjectForm() class="" action="index.html" method="post" #projectForm="ngForm">
    <h5 class="col-20 titulo">Nuevo Proyecto</h5>
    <h5><label for="" class="step-form" class="titulo">Paso 1: Definiendo el Proyecto </label></h5>
    <label for="nombre-proyecto" >Titulo del Proyecto</label>
    <input class="form-control " type="text"  value="" id="titulo" maxlength="255" minlength="1"
      required minlength="1"
      [(ngModel)]="proyecto.titulo" name="titulo"
      #titulo="ngModel"
    >
    <div *ngIf="emptyTitulo" class="alert alert-danger box-msg" role="alert">
      <strong>Campo requerido!</strong>
    </div>
    <label for="descripcion-proyecto">De una descripcion detallada del proyecto</label>

    <textarea class="form-control" rows="3" cols="" id="descripcion" maxlength="1000" minlength="1"
    [(ngModel)]="proyecto.descripcion" name="descripcion"
    ></textarea>
    <div *ngIf="emptyDescripcion" class="alert alert-danger box-msg" role="alert">
      <strong>Campo requerido!</strong>
    </div>
    <label  for="">Desea que el proyecto sea visto al publico? </label>
    <select class="form-select form-control" name="select"
      [(ngModel)]="proyecto.visibilidad" name="visibilidad"
    >
      <option value="si">Si</option>
      <option value="no" selected>No</option>
    </select>
    <input hidden style="margin-left:15px;" class="form-check-input" type="checkbox" value="" id="defaultCheck"

    >
    <hr>
    <h5><label class="step-form" class="titulo">Paso 2: Alcance </label></h5>
    <label for="">Presupuesto</label>
    <div class="d-flex align-items-start">
        <label for="">Lps.</label><input class="form-control"  type="number"   value="" id="presupuesto" min=1000 max=300000
        [(ngModel)]="proyecto.presupuesto" name="presupuesto"
        >
    </div>
    <label for="">Tiempo</label>
    <select class="form-select form-control" id="timeframes" required id="timeframe"
      [(ngModel)]="proyecto.timeframe" name="timeframe"
    >
      <option *ngFor="let tfs of timeframes" [value]="tfs">{{tfs}}</option>
    </select>

    <br>
    <hr>
    <h5><label class="step-form" class="titulo">Paso 3: Perfil del talento</label></h5>
    <label for="">Rol</label>
    <select class="form-select form-control" id="herramientas" required id="herramientaID"
      [(ngModel)]="proyecto.roles" name="roles"
    >
      <option *ngFor="let rol of roles" [value]="rol">{{rol}}</option>
    </select>

    <label for="">Herramientas</label>

    <div >
      <select class="form-select form-control selectpicker" id="herramientas" required id="herramientaID"
        [(ngModel)]="proyecto.herramientas" name="herramientas"
      >
        <option *ngFor="let herr of herramientas" [value]="herr">{{herr}}</option>
      </select>
    </div>


    <div *ngIf="camposIncompletos" class="alert alert-danger box-msg alert-dismissible fade show" role="alert" id=fixedalert>
      <strong>Algunos campos faltan por completar!</strong>
    </div>
    <div class="text-center">
      <button class="btn btn-block btn-primary rounded-pill " type="submit" name="button">Guardar</button>
    </div>


  </form>

</div>
<div class="col-1">
</div>
</div>
