#form-login{
    padding: 80px 50px;
   
 }

.titulo{
    display: inline-block;
    font-size: 25px;
    color: #0077b6;
    line-height: 1.2;
    text-align: center;
    padding-bottom:30px; 
    margin: auto;
}

.botonIn{	
    text-align: center;	
    margin-top: 50px;
 }